<!-- header design inspired by https://consumet.org/ -->
<div class="header-bar"></div>
<header class="navbar navbar-expand-md navbar-light doks-navbar">
    <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
        <a class="navbar-brand p-0 me-auto logo-text" href="./" style="font-size: 1.3em;">앙부일구</a>
        <button class="btn btn-menu d-block d-md-none order-5" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDoks" aria-controls="offcanvasDoks" aria-label="Open main menu"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-menu">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg></button>
        <div class="offcanvas offcanvas-end border-0 py-md-1" tabindex="-1" id="offcanvasDoks"
            data-bs-backdrop="true" aria-labelledby="offcanvasDoksLabel">
            <div class="header-bar d-md-none"></div>
            <div class="offcanvas-header d-md-none">
                <h2 class="h5 offcanvas-title ps-2" id="offcanvasDoksLabel">
                    <a class="navbar-brand p-0 me-auto logo-text" href="./" style="font-size: 1.3em;">앙부일구</a>
                </h2><button type="button"
                    class="btn-close text-reset me-2" data-bs-dismiss="offcanvas"
                    aria-label="Close main menu"></button>
            </div>
            <div class="offcanvas-body px-4">
                <h3 class="h6 text-uppercase mb-3 d-md-none">페이지</h3>
                <ul class="nav flex-column flex-md-row ms-md-n3">
                    <li class="nav-item"><a class="nav-link ps-0 py-1" href="https://docs.consumet.org">Docs</a>
                    </li>
                    <li class="nav-item"><a class="nav-link ps-0 py-1" href="https://consumet.org/blog/">Blog</a>
                    </li>
                    <li class="nav-item"><a class="nav-link ps-0 py-1"
                            href="https://consumet.org/extensions/list">Extensions</a></li>
                    <li class="nav-item"><a class="nav-link ps-0 py-1"
                            href="https://consumet.org/showcase/">Showcase</a></li>
                </ul>
                <hr class="text-black-50 my-4 d-md-none">
                <h3 class="h6 text-uppercase mb-3 d-md-none">소스코드</h3>
                <ul class="nav flex-column flex-md-row ms-md-auto">
                    <li class="nav-item">
                        <a class="nav-link ps-0 py-1" href="https://github.com/kingsparkdev/sundialnodejs">
                            <svg
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-github me-1">
                                <path
                                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37.0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44.0 0020 4.77 5.07 5.07.0 0019.91 1S18.73.65 16 2.48a13.38 13.38.0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07.0 005 4.77 5.44 5.44.0 003.5 8.55c0 5.42 3.3 6.61 6.44 7A3.37 3.37.0 009 18.13V22">
                                </path>
                            </svg> Github
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>